[Unit]  
Descriptin=HomeSeer HS4 Home Automation Server  
After=network.target  
  
[Service]  
WorkingDirectory=/opt/HomeSeer  
ExecStart=/usr/bin/mono /opt/HomeSeer/HSConsole.exe --log  
ExecStop=/opt/HomeSeer/shutdown.sh  
Restart=on-failure  
TimeoutStopSec=90  
  
[Install]  
WantedBy=multi-user.target
